#changed restart alwys to No.....
[Unit]
Description=AWS Three-Tier Deployment Service
After=network.target docker.service

[Service]
Type=oneshot
User=github
WorkingDirectory=/home/github/aws-three-tier/deploy
ExecStart=/bin/bash /home/github/aws-three-tier/deploy/deploy.sh
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target


